
.navbar{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow:hidden;
    background-color: rgb(11, 11, 27); 
    position:fixed;
    width:100%; 
    z-index:1;
  }
  .brand{
    margin:5px;
    float:left;
    padding:0px;
  }
  li {
    float:left;
    padding-left:50px;
  }
  
  li a {
    display: block;
    color: rgb(211, 202, 202);
    text-align:center;
    padding: 6px 8px;
    text-decoration: none;
  
  }

  li a:hover {
    background-color: #111;
  }
  .h1{
    padding: 150px;
    color:white;
  }
  .d-inline-block {
    margin: 10px;
  }
  .btn{
    margin: 10px;
    justify-content:top;
    border: 10px;
    padding: 10px;
     border-radius: 20px;
  
  }
  .orido_tm_follow {
    display:flex;
    align-items:center;
    border:0px;
    border-radius:0px;

   }
   .orido_tm_follow ul {
    margin:0;
    list-style-type:none;
    display:flex;
    align-items:center;
    position:relative;
    top:0px;
    margin-left:0px
   }
   .orido_tm_follow ul li {
    margin:0 0px 0 0
   }
   .orido_tm_follow ul li a {
    text-decoration:none;
    display:inline-block;
    position:relative;
    width:70px;
    height:70px;
    background-color:#f10909;
    border-radius:100%;
   }
   .orido_tm_follow span {
    font-size:20px;
    font-weight:500
   }
   .collapse{
    color:yellow;
   }
.year{
   padding:5px;
   color:white;
}
.text{
  text-decoration:center;
  text-align: right;


}
.container1{
  padding: 90px;
    color:white;

}
 .buttons {
  display:flex;
  align-items:center
 }
 .button {
  width:100%;
  float:left
 }
 .button {
  width:auto
 }
 
.area{
  display:flex;

}
.right{
	width: 50%;
	position: relative;
	top: 33px;
}
 .filter{
	width: 100%;
	float: left;
	position: relative;
  color:rgb(253, 251, 251);
}
.filter ul{
	margin: 0px;
	list-style-type: none;
}
 .filter ul li{
	margin: 0px 70px 0px 0px;
	display: inline-block;
}
.filter ul li:last-child{
	margin-right: 0px;
}
.filter ul li a{
	text-decoration: none;
  font-weight: 800;
	display: inline-block;
	position: relative;
}

 .bi{
  width:50px;
  height:50px;
  border-radius:100%;
 }
  .product{
    padding: 90px;
    
  }
  .container text{
    padding:5px;
    margin-left:5px;
    justify-content:top;
  }
  .projects{
    padding:120px;
  }
  
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feed{
  padding:100px;
}
.rg{
  padding:100px;
  color:rgb(253, 252, 252);
}
.button{
  padding:5px;
  margin-left:5px;
}
.work{
  text-align:center;
  color:rgb(253, 252, 252);
  padding:5px;
}
.you{
  text-align:center;
  color:rgb(253, 252, 252);
}
.fz{
  margin:0px;
  padding:100px;
}
.call{
  position:relative;
  left:200%;
  margin-top:-30%;
}
.img{
  position:relative;
  left:5%;
  margin-top:5%;
}
.name{
  position:relative;
  left:5%;
  margin-top:7%;
}
.social-icons{
  padding:20px;
  position:relative;
  left:-200%;
  margin-top:7%;
}
